#settings-menu{
	grid-area: 2/1/2/3;
	margin:10px;
	display:flex;
	flex-direction:column;
	align-items:center;
	transform:translateY(100vh);
	box-shadow:0 0 5px 5px #eee;
	justify-self:center;
	padding:10px;
	backdrop-filter:blur(10px);
	transition:transform 1s cubic-bezier(.8,-0.55,.2,1.30);
}

#settings-menu>section>a{
	margin:5px;
}
#settings-menu>.setting{
	display:flex;
	flex-direction:row;
	justify-items:center;
	align-items:center;
}
#settings-menu>.setting>input{
	width:40px;
	outline:none;
	border:none;
	margin:5px;
	text-align:center;
	background:transparent;
}
#settings-menu>.setting>button{
	width:25px;
	height:25px;
	margin:5px 20px 5px 20px;
}
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
