:root{
    --shade-size: 3px;
    --background: #ddd;
    --accent: #111;
}

@font-face {
    font-family: nerd;
    src: url('../font/3270.ttf');
}

*{
    font-size:30px;
    font-family:nerd; 
    color:var(--accent);
}

body{
    margin:0;
    display:grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(3,1fr);
    height:100vh;
    overflow-y:hidden;
    background:var(--background);
}

#random{
    grid-area: 2/2/2/3;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

/* button style */
button{
    box-shadow: 0px var(--shade-size) 0px 0px var(--accent);
    border: 2px solid var(--accent);
    background:none;
    transition: .2s ease;
    padding:5px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

button:active{
    transform: translateY(var(--shade-size));
    box-shadow: 0px 0px 0px 0px var(--accent);
}

#setting-btn{
    grid-area:7/1/7/1;
    margin:10px;
    width:50px;
    height:50px;
}

/* checkbox style */
input[type="checkbox"]{
    opacity:0;
    width:0;
    height:0;
}

/* checkbox background parent*/
label[type="checkbox"]{
    display:flex;
    justify-content:center;
}

/* checkbox */
label[type="checkbox"] > input + span{
    width:15px;
    height:15px;
    background:rgba(0,0,0,0);
    box-shadow: 0 0 0 2px var(--accent);
    transition: .3s ease;
}
/* checked checkbox */
label[type="checkbox"] > input:checked + span{
    transform:rotate(45deg);
    background:var(--accent);
    box-shadow: 0 0 0 0 var(--accent);
}
